<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>

    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>

      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td><form action="/admin/edit"  method="POST">
      
      
      <input type="hidden" name="email" value="{{this.email}}" readonly>
      

      <button type="submit">Edit</button>
      
      
      </form></td>

      <td>
        <form action="/admin/delete" method="POST"> 
        
        <input type="hidden" name="email" value="{{this.email}}">
        <button type="submit">Delete</button>
        </form>



      </td>
    </tr>
    {{/each}}
  </tbody>
</table>